
.mmm-pertains-breaknode {
    color: #963484;
}

.mmm-nuances-breaknode {
    color: #e60000;
}

.mmm-questions-breaknode {
    color: #ff751a;
}

.mmm-instantiates-breaknode {
    color: #009999;
}

.mmm-substantiates-breaknode {
    color: #0099cc;
}

.mmm-precedes-breaknode {
    color: #ffccff;
}

.mmm-supports-breaknode {
    color: #ffcc00;
}

.mmm-pennedin-breaknode {
    color: #7ecd7e;
}

.mmm-answers-breaknode {
    color: #ffcc00;
}

.mmm-relatesto-breaknode {
    color: #cccccc;
}

.mmm-relate-breaknode {
    color: #8c8c8c;
}

.mmm-equates-breaknode {
    color: #3066BE;
}

.mmm-differsfrom-breaknode {
    color: #e60000;
}


.mmm-pertains-edge {
    background-color: #963484;
    color:white
}

.mmm-nuances-edge {
    background-color: #e60000;
    color:rgb(73, 73, 73)
}

.mmm-questions-edge {
    background-color: #ff751a;
}

.mmm-instantiates-edge {
    background-color: #009999;
}

.mmm-substantiates-edge {
    background-color: #0099cc;
}

.mmm-precedes-edge {
    background-color: #ffccff;
}

.mmm-supports-edge {
    background-color: #ffcc00;
}

.mmm-pennedin-edge {
    background-color: #7ecd7e;
}

.mmm-answers-edge {
    background-color: #ffcc00;
}

.mmm-relatesto-edge {
    background-color: #cccccc;
}

.mmm-relate-edge {
    background-color: #8c8c8c;
}

.mmm-equates-edge {
    background-color: #3066BE;
    color:rgb(176, 176, 176)
}

.mmm-differsfrom-edge {
    background-color: #e60000;
    color:rgb(73, 73, 73)
}