.overlay {
    /* opacity:0.8;
    background-color:#ccc; */
    background-color: #cccccc75;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /* z-index:1000; */
    overflow: scroll;
}

/* https://phppot.com/php/responsive-two-column-html-contact-form-with-php-mailing-support/ */

.form-container {
    /* opacity:1; */
    background: white;
    /* border: #91949d 1px solid; */
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: .9em;
    color: #1e2a28;
    width: 740px;
    margin: 50px auto;
    padding: 15px;
    /* z-index: 10000; */
}



.form-containerBis {
    /* opacity:1; */
    background: white;
    border: #91949d 1px solid;
    border-radius: 3px;
    /* border-style: inset; */
    /* -webkit-font-smoothing: antialiased; */
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
    /* font-size: .9em; */
    /* color: #1e2a28; */
    /* width: 740px; */
    /* margin: 50px auto; */
    padding: 35px;
}


.text-center {
    text-align: center;
}


.left-form-col {
    /* margin-right: 45px; */
    /* display: inline-block; */
    /* background-color: rgb(204, 251, 138); */
    /* border: rgb(95, 76, 61) 2px solid; */
    /* min-width: 40%; */
    width: 320px;
    padding: 0px 10px;
    margin-right: 20px;
    /* flex:1; */

}

.right-form-col {
    /* display: inline-block; */
    /* background-color: rgba(255, 116, 227, 0.431); */
    /* border: rgb(250, 0, 200) 2px solid; */
    padding: 0px 10px;
    /* min-width: 40%; */
    width: 320px;
    margin-left: 20px;

}


.row {
    margin: 12px 0;
    display: flex;
    /* background-color: rgba(255, 0, 0, 0.442); */
    /* border: rgb(0, 242, 250) 2px solid; */
}


.lineContainer {
    overflow: hidden; /* clear the float */
    padding: 10px;
}

.label {
    color: #75726c;
    text-transform: uppercase;
}

.sublabel {
    color: #a09b90;
    font-size: smaller;
}
@media only screen and (max-width: 760px) {
    .form-container {
        width: 500px;
    }
    .row {
        margin: 18px 0;
        display: flex;
    }
    .input-field {
        width: 200px;
    }
    .doubleinput-field {
        width: 100%;
    }
    .input-field-radio {
        width: 210px;
    }
    .btn-submit {
        width: 200px;
    }
}
@media only screen and (max-width: 500px) {
    .form-container {
        width: 300px;
    }

    .row {
        margin: 10px;
        display: inline-block;
    }

    .input-field {
        width: 280px;
    }

    .doubleinput-field {
        width: 280px;
    }

    .btn-submit {
        width: 280px;
    }

    .responsive {
        margin-top: 20px;
    }
}



.form-button{
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px;
    background: #555454;
    border: #464646 1px solid;
    color: #ffffff;
    border-radius: 3px;
    cursor: auto;
  }
  
  .form-button:hover{
    background: #848282;
    color: #ffffff;
  }
  


.mmmselector{
    border-radius: 3px;
    text-transform: uppercase;
      padding: 20px;
      /* border: #91949d 1px solid; */
      /* box-sizing: border-box; */
      width:100%;
      /* margin: 5px 10px 5px 0px; */
      /* outline:none; */
    /* overflow: hidden; */
  
    border: #464646 1px solid;
    /* color: #ffffff; */
  
  }



  .right {
    overflow: hidden;
}


.doubleinput-field {
    width: 100%;
      border-radius: 3px;
      padding: 5px;
      border: #91949d 1px solid;
      box-sizing: border-box;
      margin: 5px 10px 0px 0px;
      float: left;
      overflow: hidden;
  }
  


/* Input And Buttons V2 */


.IB-container{
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    /* margin-right: auto;
    margin-left: auto; */
    margin: 20px 0px;
  
  }
  .IB-quantity{
    /* max-width: 150px; */
    width: 100%;
  }
  .IB-input-group{
    position: relative;
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-wrap: wrap; */
    flex-wrap: wrap;
    /* -ms-flex-align: stretch; */
    align-items: stretch;
    width: 100%;
  }
  .IB-input-group-prepend{
    margin-right: -1px;
    display: flex;
    box-sizing: border-box;
  }
  .IB-btn{
    padding: 0;
    border-style: none;
    position: relative;
    z-index: 2;
    /* -webkit-appearance: button; */
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    user-select: none;
    border: 1px solid #008080;
    /* transparent; */
      /* border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent; */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    /* border-radius: 0.25rem; */
    border-radius: 3px;
      /* border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem; */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    overflow: visible;
  
  
    background: #555454;
    border: #464646 1px solid;
    color: #ffffff;
  
  }
  
  
  .IB-btn:hover{
    background: #848282;
    color: #ffffff;
  }
  
.IB-form-control{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    /* -ms-flex: 1 1 auto; */
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    text-align: center;
  
    overflow: visible;
    display: block;
    /* width: 100%; */
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    border: 1px solid #008080;
    /* border-radius: 0.25rem; */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
    font-weight: 400;
  }
  .IB-input-group-append{
    margin-left: -1px;
    display: flex;
    box-sizing: border-box;
  
  }
            




.subject-option {
    margin-bottom: 8px;
    margin: 4px 10px 6px 0px;
}
