.mmm-narrative {
    background-color: #fae7b5;
    color: #d79e0f;
}

.mmm-narrative.selectednode {
    background-color: #fad77f;
}

.mmm-existence {
    background-color: #a1caf1;
    color: #004e97;
}

.mmm-existence.selectednode {
    background-color: #79b7f2;
}


.mmm-existence.mmm-file {
    background-color: #8fbbe3;
    color: hsl(209, 100%, 30%);
    border-color: #004e97;
    border: 2px solid;
}

.mmm-question {
    background-color: #ffa07a;
    color: #cf290c;
}

.mmm-question.selectednode {
    background-color: #fc8657;
}


.mmm-action {
    background-color: #d9d9d9;
    color: #615757;
}

.mmm-data {
    background-color: #d2b48c;
    color: #7a4500;
}

.mmm-pen {
    background-color: #7fbf7f5c;
    /* background-color: #addfad; */
    color: #007400;
    /* border: #007400 1px solid; */
}

.mmm-pen.selectednode {
    background-color: #addfad;
    /* color:white; */
}

.mmm-pit {
    background-color: #000000;
    color: #ffffff;
}

.mmm-pit.inverse {
    background-color: white;
    color: black;
}

.instruction{
    background-color: #ffffff;
    color: #9b9b9a;
  }
  

  .mmm-undefined{
    background-color: rgb(191, 191, 191);
    color: #434343;
  }

  .mmm-edge{
    background-color: #efefef;
    color: #000000;
  }  

  
.type-label {
    font-size: small;
    font-weight: bold;
    font-variant: small-caps;
    text-transform: capitalize;
}

.protommmnode-type-label {
    font-size: large;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    text-transform: capitalize;
}

.protommmnode-type-label:first-letter {
    text-transform: capitalize;
}

.mmmnode {
    /* width: 340px; */
    /* border-radius: 3px;
    padding: 15px;
    box-sizing: border-box;
    outline: none;
    overflow: hidden; */

    padding: 10px;
    border-radius: 3px;
    /* width: 150px; */
    min-width: 70px;
    max-width: 400px;
    font-size: 12px;
    color: #222;
    /* text-align: center; */
    border-width: 1px;
    /* border-style: solid; */
    /* border-color: #1a192b; */
    /* background-color: white; */
}

/* 
.mmmnode.mmm-narrative {
    text-align: left;

} */


.nodeshadow {
    box-shadow: 0px 5px 8px rgba(69, 69, 69, 0.3);
}


.nodelabel {
    /* margin: auto; */
    /* padding-top: 1em; */
    /* color: rgb(107 114 128); */
    /* scrollbar-color: red; */
    /* scrollbar-width: thin; */
}




.childnode {
    /* width: 100%; */
    max-width: 200px;
    /* max-height:150px; */
    /* height: 100%; */
    border-radius: 5px;
    /* border: 1px solid #000; */
    /* background-color: #fff; */
    /* padding: 15px; */
    padding: 0 5px 0 5px;
    /* box-sizing: border-box; */
    /* z-index: 50000; */
    /* z-index: 1000 !important; */
    overflow: hidden;
    /* transform: translateZ(-10px) */
}

.breaknode {
    transform: translate(-50%, 0%);
    /* opacity: 0.5; */
    pointer-events: all;}

.react-flow .breaknode {

    /* max-width: 200px; */
    /* min-width: 50px;
      min-height: 20px;  */
    /* font-size: smaller; */
    /* color: "#888899"; */
    /* display: flex ; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: white; */
    /* padding:8px; */
    /* border: "1px solid #555"; */
    /* padding:8px; */
    /* margin-top: 8px; */
    /* padding-left:8px;
      padding-right:8px; */
    /* border-radius: 15px; */
    /* z-index:200; */
}

.protocontainer {
    /* display: flex; */
    width: 100%;
    align-items: center;
    /* width: 150px; */
    margin: 5px 50px 5px 0px;
    cursor: move;
}

.protommmnode {
    box-sizing: border-box;
    padding: 3px;
    border-radius: 3px;
}

.protommmnode-type-label {
    font-size: large;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    text-transform: capitalize;
}

.protommmnode-type-label:first-letter {
    text-transform: capitalize;
}