.MMMlegend {
    padding: 2px;
    margin-bottom: 3px;
    cursor: help;
    border-radius: 3px;
}

.MMMlegend .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 10000;
    left: 50%;
}

.MMMlegend:hover .tooltiptext {
    visibility: visible;
}


.tooltip {
    /* position: absolute; */
    display: inline-block;
    /* border-bottom: 1px dotted; */
    /* margin-right:5px; */
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 300px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 10000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.tooltip.info:hover {
    /* background-color: #04AA6D;  */
    color: rgba(0, 0, 0, 0.555);
}


.react-flow .react-flow__handle {
    width: 10px;
    height: 5px;
    border-radius: 3px;
    background-color: #bbb;
}

.react-flow .mmmnode-side-handle {
    width: 5px;
    height: 10px;
    border-radius: 3px;
    background-color: #bbb;
}


.react-flow .childnode-handle {
    /* width: 1px; */
    /* height: 1px; */
    /* border-radius: 3px; */
    border-color: transparent;
    background-color: transparent;
}

.react-flow .breaknode-handle {
    width: 7px;
    height: 7px;
    border-radius: 3px;
    background-color: #bbbbbb80;
}



.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.dndflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
}

.dndflow aside .description {
    margin-bottom: 10px;
}

.dndflow .dndnode {
    height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}


.controlbutton {
    /* padding-left:8px; */
    color: inherit;
    /* background-color: transparent; */
    border-radius: 3px;
    /* border: 1px blue solid; */
    cursor: auto;
    margin: 1px;
    width: 25px;
    height: 25px;
    border-color: unset;
    border: solid 1px;
}


.mybutton {
    background-color: transparent;
    border: none;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-size: inherit;
    cursor: pointer;
}


.mybutton.save:hover {
    /* background-color: #04AA6D;  */
    color: #2e9c1d;
}

.controlbutton.LLM:hover {
    /* background-color: #04AA6D;  */
    color: #2e9c1d;
}


.controlbutton.dostuff:hover {
    /* background-color: #04AA6D;  */
    color: #2e9c1d;
}



.mybutton.record:hover {
    /* background-color: #04AA6D;  */
    color: #2e9c1d;
}



.controlbutton.cancel,
.controlbutton.save {
    background-color: transparent;
    /* background-color: red; */
    /* background: currentColor; */
    border: none;
    /* color: inherit; */
    /* text-align: center; */
    /* vertical-align: middle; */
    /* text-decoration: none; */
    /* font-size: inherit; */
    font-size: 28px;
    margin-top: -6px;
}

.controlbutton.cancel:hover {
    /* background-color: #04AA6D;  */
    color: #eb0a42;
}


.controlbutton.save:hover {
    /* background-color: #04AA6D;  */
    color: #3aa8c1;
}


.mybutton.edit:hover {
    /* background-color: #04AA6D;  */
    color: #2e9c1d;
}

.mybtn {
    border: none;
    /* text-decoration: none; */
    cursor: pointer;
    text-align: center;
    /* display: block; */
    margin: 5px 50px 5px 0px;
    padding: 5px;
    /* width: 150px; */
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3px;
    /* border: 1px solid #008080; */
    background-color: #555454;
    color: #ffffff;
    /* box-shadow: 2px 2px 1px rgba(0, 0, 0, 50%); */
}

.full {
    display: block;
    width: 150px;
}

.mybtn:hover {
    background: #848282;
    color: #ffffff;
}






.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    display: inline-block;
    cursor: pointer;
}


.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #fae7b5;
    color: #d79e0f;
}



.newnodetypeselector {
    /* border:0px; */
    /* padding: 0px; */
    /* font-size: 100%; */
    text-align: center;
    height: 30px;
    text-decoration-style: dotted;
    padding-right: 13px;
    border: rgba(255, 255, 255, 0.309) 2px dotted;
    background-color: rgba(255, 255, 255, 0.128);
    margin-bottom: 20px;
    border-radius: 3px;
}

.newnodetypeselector:first-letter {
    text-transform: capitalize;
}

.newnodetypeselector:hover {

    background-color: rgba(255, 255, 255, 0.408);
}

/* 
  select.newnodetypeselector{
    border: rgba(255, 255, 255, 0.309) 2px dotted;
  } */




textarea {
    /* max-width: 600px; 
    max-height: 100px; */
    resize: none;
}


/* iframe#webpack-dev-server-client-overlay{display:none!important} */


.context-menu {
    box-shadow: 10px 19px 20px rgba(0, 0, 0, 10%);
    position: absolute;
    z-index: 100;
}

.context-menu button {
    border: none;
    display: block;
    padding: 0.5em;
    text-align: left;
    width: 100%;
}

.context-menu button:hover {
    background: white;
}

.selectWrapper {
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    background: white;
    border: 1px solid #cccccc;
}

.selectBox {
    padding: 3px;
    border: 0px;
    outline: none;
}