html,body,#container {
    height:100%;
    overflow: hidden;
}
#container {
    width:100%;
    position:relative;
    overflow: hidden;
}
#container > img {
    width:100%;
    max-width:400px; /* real image width */
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    margin:auto;
    overflow: hidden;
}